@charset "UTF-8";
html,
body {
  margin: 0;
}

* {
  box-shadow: inset 0 0 3px red;
  background-color: rgba(0, 0, 0, 0.07);
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", "sans-serif";
  line-height: 1.5;
  text-decoration: none;
}

@font-face {
  font-family: iconfont;
  src: url(mi-font.woff) format("woff");
  font-weight: 400;
}
[class*=iconfont] {
  font-family: iconfont;
  font-style: normal;
  color: #E0E0E0;
}

.iconfont-arrow-right-big::before {
  content: "";
}

ul {
  list-style: none;
}
ul li {
  padding: 0;
}

/* top */
#top {
  height: 120px;
  position: relative;
  top: 0;
  min-width: 1226px;
}
#top a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/a2a9e6db5e3c5374301827435d8595c6.jpg);
  background-repeat: no-repeat;
  background-size: auto 120px;
  background-position: 50%;
}

/* header */
header {
  height: 40px;
  background-color: #333;
  color: #b0b0b0;
  min-width: 1226px;
}
header a:visited {
  color: #b0b0b0;
}
header a:hover {
  color: #fff;
}
header #top-bar {
  width: 1226px;
  height: 40px;
  align-items: center;
  font-size: 12px;
  display: flex;
  margin: 0 auto;
}
header #top-bar span {
  color: #424242;
  height: 34px;
  line-height: 34px;
}
header #top-bar #left-bar {
  display: flex;
}
header #top-bar #left-bar div {
  margin: 8px;
}
header #top-bar #right-bar {
  display: flex;
  margin-left: auto;
}
header #top-bar #right-bar div {
  margin: 8px;
}

/*middle bar xiaomi logo*/
#bar-logo {
  background-color: #FF6700;
  height: 55px;
  width: 55px;
  position: relative;
  left: 0;
  overflow: hidden;
  margin: auto 0;
}
#bar-logo img {
  height: 55px;
  width: 55px;
  transition: 0.2s;
}
#bar-logo #mi-logo {
  position: absolute;
  top: 0;
  left: 0;
}
#bar-logo #mi-logo-home {
  position: absolute;
  top: 0;
  left: -55px;
}
#bar-logo:hover #mi-logo {
  left: 55px;
}
#bar-logo:hover #mi-logo-home {
  left: 0px;
}

/*middle bar*/
#middle-bar {
  font-size: 16px;
  color: #333;
  width: 1226px;
  height: 100px;
  display: flex;
  margin: 0 auto;
}
#middle-bar #middle-bar-text {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /*小米手机~智能硬件展开栏*/
}
#middle-bar #middle-bar-text a {
  margin: 0 10px;
}
#middle-bar #middle-bar-text a:visited {
  color: #333;
}
#middle-bar #middle-bar-text a:hover {
  color: #FF6700;
}
#middle-bar #middle-bar-text .xiaomitoshequ {
  display: flex;
  position: absolute;
  top: 227px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1226px;
  flex-wrap: nowrap;
  background-color: white;
  opacity: 0;
  height: 0;
  transition: 0.5s;
  overflow: hidden;
  z-index: 10;
}
#middle-bar #middle-bar-text .xiaomitoshequ div {
  font-size: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#middle-bar #middle-bar-text .xiaomitoshequ div img {
  height: 105px;
}
#middle-bar #middle-bar-text .xiaomitoshequ div:hover {
  color: inherit;
}
#middle-bar #middle-bar-text .xiaomitoshequ div span {
  display: block;
  text-align: center;
  color: #333;
}
#middle-bar #middle-bar-text .xiaomitoshequ div span:hover {
  color: #333;
}
#middle-bar #middle-bar-text .xiaomitoshequ div span:visited {
  color: #333;
}
#middle-bar #middle-bar-text .xiaomitoshequ div .price {
  color: #FF6700;
}
#middle-bar #middle-bar-text .xiaomitoshequ div .price:hover {
  color: #FF6700;
}
#middle-bar #middle-bar-text > a:nth-child(1):hover ~ .bar-text-hover > .xiaomitoshequ:nth-child(1),
#middle-bar #middle-bar-text > a:nth-child(2):hover ~ .bar-text-hover > .xiaomitoshequ:nth-child(2),
#middle-bar #middle-bar-text > a:nth-child(3):hover ~ .bar-text-hover > .xiaomitoshequ:nth-child(3),
#middle-bar #middle-bar-text > a:nth-child(4):hover ~ .bar-text-hover > .xiaomitoshequ:nth-child(4),
#middle-bar #middle-bar-text > a:nth-child(5):hover ~ .bar-text-hover > .xiaomitoshequ:nth-child(5),
#middle-bar #middle-bar-text > a:nth-child(6):hover ~ .bar-text-hover > .xiaomitoshequ:nth-child(6),
#middle-bar #middle-bar-text > a:nth-child(7):hover ~ .bar-text-hover > .xiaomitoshequ:nth-child(7) {
  /*小米手机hover*/
  height: 230px;
  opacity: 1;
  margin: 33px auto;
}

/*all-product 轮播图*/
#all-product {
  position: relative;
  height: 460px;
  width: 1226px;
  margin: 0 auto;
}
#all-product img {
  height: 460px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s;
}
#all-product input {
  float: right;
  top: 420px;
  right: 20px;
  position: relative;
  z-index: 8;
  cursor: pointer;
  /*轮播图*/
}
#all-product input:nth-child(1):checked ~ div > img:nth-child(1) {
  opacity: 1;
}
#all-product input:nth-child(2):checked ~ div > img:nth-child(2) {
  opacity: 1;
}
#all-product input:nth-child(3):checked ~ div > img:nth-child(3) {
  opacity: 1;
}
#all-product input:nth-child(4):checked ~ div > img:nth-child(4) {
  opacity: 1;
}
#all-product input:nth-child(5):checked ~ div > img:nth-child(5) {
  opacity: 1;
}
#all-product input:nth-child(6):checked ~ div > img:nth-child(6) {
  opacity: 1;
}
#all-product #all-product-left-bar > ul {
  list-style: none;
  position: absolute;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 234px;
  height: 420px;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 9;
  justify-content: center;
  padding: 20px 0;
  margin: 0;
}
#all-product #all-product-left-bar > ul .left-side-bar {
  padding: 0 25px;
}
#all-product #all-product-left-bar > ul .left-side-bar > a {
  color: white;
  display: inline-block;
  width: 170px;
}
#all-product #all-product-left-bar > ul .left-side-bar > a:visited {
  color: white;
  padding: 0;
}
#all-product #all-product-left-bar > ul .left-side-bar > a::before {
  content: "";
  line-height: 42px;
}
#all-product #all-product-left-bar > ul .left-side-bar:hover {
  background-color: #ED712E;
}
#all-product #all-product-left-bar > ul .left-side-bar:hover ul {
  display: flex;
}
#all-product #all-product-left-bar > ul .left-side-bar ul {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  list-style: none;
  display: none;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
}
#all-product #all-product-left-bar > ul .left-side-bar ul::after {
  content: "";
  background-color: white;
  flex: 1;
}
#all-product #all-product-left-bar > ul .left-side-bar ul li {
  width: 248px;
  height: 76.66666667px;
  background-color: white;
  color: #333;
}
#all-product #all-product-left-bar > ul .left-side-bar ul li > a {
  color: #333;
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: 76px;
}
#all-product #all-product-left-bar > ul .left-side-bar ul li > a:hover {
  color: #FF6700;
}
#all-product #all-product-left-bar > ul .left-side-bar ul li img {
  height: 40px;
  opacity: 1;
  position: static;
  margin: 0 20px 0 25px;
  vertical-align: middle;
}

#below-lunbo {
  display: flex;
  flex-wrap: nowrap;
  width: 1226px;
  margin: 15px auto;
  justify-content: space-between;
}
#below-lunbo > div:first-child {
  height: 167px;
  width: 234px;
  display: flex;
  background-color: #5F5750;
  flex-wrap: wrap;
}
#below-lunbo > div:first-child div {
  font-size: 12px;
  width: 78px;
  margin: auto;
  text-align: center;
}
#below-lunbo > div:first-child div:hover img {
  opacity: 1;
}
#below-lunbo > div:first-child div:hover span {
  color: white;
}
#below-lunbo > div:first-child div:visited span {
  color: #CFCCCA;
}
#below-lunbo > div:first-child div img {
  width: 24px;
  opacity: 0.6;
}
#below-lunbo > div:first-child div span {
  display: block;
  color: #CFCCCA;
}
#below-lunbo img {
  width: 316px;
}

#xiaomi-shangou {
  width: 1226px;
  margin: 0 auto;
  overflow: hidden;
}
#xiaomi-shangou p {
  color: #333;
  font-size: 22px;
}
#xiaomi-shangou .shangou-main {
  list-style: none;
  padding: 0;
  display: flex;
}
#xiaomi-shangou .shangou-main div:first-child {
  background-color: #F1EDED;
  border-top: 1px solid #E53935;
}
#xiaomi-shangou .shangou-main div:first-child #shangou-time {
  color: #EF3A3B;
  font-size: 21px;
  margin: 54px 0 0;
}
#xiaomi-shangou .shangou-main div:first-child #shangou-finished {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}
#xiaomi-shangou .shangou-main div:first-child div {
  height: 46px;
  display: inline-block;
  margin: 28px 0 0;
}
#xiaomi-shangou .shangou-main div:first-child div .shangou-colon {
  font-size: 24px;
  margin: 0;
  height: 100%;
  width: 5px;
  line-height: 46px;
  color: #605751;
}
#xiaomi-shangou .shangou-main div:first-child div .shangou-countdown {
  color: white;
  background-color: #605751;
  font-size: 24px;
  margin: 0;
  width: 46px;
  height: 100%;
  line-height: 46px;
}
#xiaomi-shangou .shangou-main div:first-child img {
  width: 34px;
  padding: 15px 0;
}
#xiaomi-shangou .shangou-main > li:nth-child(5n) {
  border-top: 1px #00C0A5 solid;
}
#xiaomi-shangou .shangou-main > li:nth-child(5n+1) {
  border-top: 1px #FFAC13 solid;
}
#xiaomi-shangou .shangou-main > li:nth-child(5n+2) {
  border-top: 1px #83C44E solid;
}
#xiaomi-shangou .shangou-main > li:nth-child(5n+3) {
  border-top: 1px #2196F3 solid;
}
#xiaomi-shangou .shangou-main > li:nth-child(5n+4) {
  border-top: 1px #E53935 solid;
}
#xiaomi-shangou .shangou-main li {
  text-align: center;
  height: 339px;
  width: 234px;
  margin-right: 14px;
}
#xiaomi-shangou .shangou-main li img {
  width: 160px;
}
#xiaomi-shangou .shangou-main li span {
  color: #333;
  display: inline-block;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 20px 3px;
  width: 200px;
}
#xiaomi-shangou .shangou-main li span:visited {
  color: #333;
}